.ground-names-container {
    padding-bottom: 1.3rem;
    width: 100%;
    position: relative;
    display: none;
}

.ground-item {
    display: block;
    position: absolute;
    white-space: nowrap;
    font-weight: 200;
    font-size: calc(1rem + 0.1vw);
    font-style: italic;
    text-transform: unset;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
}

@-webkit-keyframes FlyIn{
    0% { -webkit-transform: translateY(-150px); transform: translateY(-150px); }
    100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

@keyframes FlyIn{
    0% { -webkit-transform: translateY(-150px); transform: translateY(-150px); }
    100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}
@-webkit-keyframes FadeOut{
    0% { opacity: 1;}
    100% { opacity: 0;}
}
@keyframes FadeOut{
    0% { opacity: 1;}
    100% { opacity: 0;}
}

.ground-item:nth-child(1) {
    -webkit-animation: FlyIn 1s ease 1s both,
    FadeOut 2s ease 5s both;
            animation: FlyIn 1s ease 1s both,
    FadeOut 2s ease 5s both;
}
.ground-item:nth-child(2) {
    -webkit-animation: FlyIn 1s ease 6s both,
    FadeOut 2s ease 11s both;
            animation: FlyIn 1s ease 6s both,
    FadeOut 2s ease 11s both;
}
.ground-item:nth-child(3) {
    -webkit-animation: FlyIn 1s ease 12s both,
    FadeOut 2s ease 17s both;
            animation: FlyIn 1s ease 12s both,
    FadeOut 2s ease 17s both;
}
.ground-item:nth-child(4) {
    -webkit-animation: FlyIn 1s ease 18s both,
    FadeOut 2s ease 23s both;
            animation: FlyIn 1s ease 18s both,
    FadeOut 2s ease 23s both;
}
.ground-item:nth-child(5) {
    -webkit-animation: FlyIn 1s ease 24s both,
    FadeOut 2s ease 29s both;
            animation: FlyIn 1s ease 24s both,
    FadeOut 2s ease 29s both;
}
.ground-item:nth-child(6) {
    -webkit-animation: FlyIn 1s ease 30s both,
    FadeOut 2s ease 35s both;
            animation: FlyIn 1s ease 30s both,
    FadeOut 2s ease 35s both;
}
.ground-item:nth-child(7) {
    -webkit-animation: FlyIn 1s ease 36s both,
    FadeOut 2s ease 41s both;
            animation: FlyIn 1s ease 36s both,
    FadeOut 2s ease 41s both;
}
.ground-item:nth-child(8) {
    -webkit-animation: FlyIn 1s ease 42s both,
    FadeOut 2s ease 47s both;
            animation: FlyIn 1s ease 42s both,
    FadeOut 2s ease 47s both;
}
.ground-item:nth-child(9) {
    -webkit-animation: FlyIn 1s ease 48s both,
    FadeOut 2s ease 53s both;
            animation: FlyIn 1s ease 48s both,
    FadeOut 2s ease 53s both;;
}
.ground-item:nth-child(10) {
    -webkit-animation: FlyIn 1s ease 54s both,
    FadeOut 2s ease 59s both;
            animation: FlyIn 1s ease 54s both,
    FadeOut 2s ease 59s both;
}

@media only screen and (min-width: 1024px) {
    .ground-names-container {
        display: block;
    }
}